<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="ExtentPack.extentClass" />
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Com.Orange.testcases.LoginPageTest"/>
        <class name="Com.Orange.testcases.HomePageTest"/>   
      <class name="Com.Orange.testcases.SystemUsersTest"/>
      <class name="Com.Orange.testcases.SaveSystemUserTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
